# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll
*.log
.ipynb_checkpoints/
.venv/
.env
.env.*

# Build artifacts
*.egg-info/
dist/
build/

# Data & artifacts
data/
mlruns/
runs/
outputs/
checkpoints/
models/

# Tests
.pytest_cache/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

